<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/7f5414fb58.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="nav-top">
        <div>
          <ul>
            <li><a href="#"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="nav-side">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <button id="toggle" class="toggle">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="switch">
      <div class="flicker"></div>
      <div class="moon"></div>
    </div>
    <footer>www</footer>
    <script src="script.js"></script>
  </body>
</html>
