<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://kit.fontawesome.com/7f5414fb58.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="nav-top">
        <div>
          <ul>
            <li>
              <a href="#"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <h1>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat,
      laboriosam.
    </h1>
    <div class="container">
      <div class="col1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, laborum
        illo. Sed suscipit fuga fugiat ratione quae mollitia reiciendis, aliquid
        at quas autem. Pariatur voluptatum facilis laborum odio veritatis Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptate ipsa
        deserunt repudiandae distinctio quidem eum explicabo inventore optio
        aliquid quibusdam, reiciendis id nam quod aut suscipit illum
        perspiciatis repellat.
      </div>

      <div class="col2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, laborum
        illo. Sed suscipit fuga fugiat ratione quae mollitia reiciendis, aliquid
        at quas autem. Pariatur voluptatum facilis laborum odio veritatis
        lorem100 Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Laudantium delectus laborum dolor et minima corporis veniam, dolorem
        omnis, itaque provident repellendus enim sapiente quidem officia,
        excepturi sint. Commodi, quae? Provident?
      </div>
      <div class="col3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia beatae
        modi non facere sunt? Accusamus atque repellat temporibus ducimus
        magnam, numquam inventore, dolorum neque laudantium vitae placeat alias
        sed velit?
      </div>
    </div>

    <div class="nav-side">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <button id="toggle" class="toggle">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="switch">
      <div class="flicker"></div>
      <div class="moon"></div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
